/**********************************
RESET
**********************************/

h1,
h2,
h3 {
	font-family: 'Fredoka One', cursive;
}

img {
	cursor: pointer;
}


/**********************************
HEADER
**********************************/
header {
	background: #2d3038;
}

header h1 {
	color: white;
	height: 200px;
	padding: 40px;
}

/**********************************
SECTION - MAIN-CONTENT
**********************************/

#main-content {
	margin: 10px 5%;
	padding: 30px 40px;
}


form,
.data,
.login {
    display: flex;
}

form {
    width: 400px;
    width: 50%;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

/**********************************
FOOTER
**********************************/

footer {
	height: 200px;
	background: #2d3038;
	height: 200px;
	padding: 40px;
}
